<div>
  <%= if logged_in?(@conn) do %>
     <span class="item"><%= link "Logout", to: "/logout", class: "ui primary button" %></span>
    <% else %>
       <span class="item"><%= link "Login", to: "/auth/auth0", class: "ui primary button" %></span>
      <% end %>
</div>